<h3>
<a id="etx125-electric-focuser" class="anchor" href="#etx125-electric-focuser"
aria-hidden="true"><span aria-hidden="true" class="octicon
octicon-link"></span></a>An ETX125 electric focuser
</h3>

<p>
My other telescope is an ETX125. Unfortunately, Meade no longer makes
an electric focuser, part number #1247, for it. I decided to
cannibalize the parts from the electric focuser for the ETX90, ETX105,
part number #1244, to make one.
</p>

<p>
{% include image.html name="etx125_electric_focuser.png" caption="My
ETX125 electric focuser built from cannibalized parts from the ETX90,
ETX105 electric focuser."%}
</p>

<p>
The plans and instructions for building the case that holds the cannibalized parts can be found <a href="https://github.com/cytan299/etx125_electric_focuser" class="user-mention">here</a>.
</p>