        <h3>
<a id="field-derotator" class="anchor"
	href="#field-derotator" aria-hidden="true"><span
	aria-hidden="true" class="octicon
	octicon-link"></span></a>Field DeRotator</h3>

<p>
The field derotator was my first project. My main reason for designing
and building a field derotator is because I like alt-az mounts and
really, really dislike equatorial mounts. My research into field
derotators uncovered a common myth among hobbyists that they are
difficult to use. Fortunately, after successfully building and then
using my field derotator, I believe I have debunked this myth
completely. See for example, the Crab Nebula that I took using my
field derotator.
</p>
<p>
{% include image.html name="M1.jpg" caption="Crab Nebula (M1): Combined data (13*10 minutes from 14 Nov 2015)+(8*10 minutes from 07 Nov 2015) = 210 minutes = 3 hours 30 minutes." %}
</p>
<p>
So, if you are sick and tired of equatorial mounts and want to get away
from it and use an alt-az mount instead,
please follow my instructions for how to
build one <a href="https://github.com/cytan299/field_derotator" class="user-mention">here </a>.
</p>