<h3>
<a id="flip-mask-lamp" class="anchor" href="#flip-mask-lamp"
aria-hidden="true"><span aria-hidden="true" class="octicon
octicon-link"></span></a>A remote controlled flip Bahtinov mask and
lamp for focusing and flats
</h3>

<p>

I got a little tired of getting my butt off my couch many times
during an imaging session to place my Bahtinov mask on my FSQ106 to
check focusing. This irritation finally motivated (forced) me to do
something about it: I wanted a remote controlled flip mask so that I
could just stay in the house for the entire imaging session.

</p>

<p>
After a quick check on the web, I found that the only
commercial source for flip masks and lamps are made by <a
href="http://www.optecinc.com/astronomy/catalog/alnitak/index.htm"
class="user-mention">Alnitak</a>. Unfortunately, the price for a pair of
flip mask and lamp are very expensive: they
will set me back by about $1000! My thoughts then went onto designing
my own. A quick sketch of my ideas showed that 
I can make a pair for about half the price! In fact, it turned out to
cost about $700 that included fixing mistakes. If the work was error
free, it would have cost around $400. You can see the cost break down
in the <a
href="https://github.com/cytan299/flip_mask_lamp/tree/master/bom"
class="user-mention">bill of materials</a>.
</p>

<p>
Note: The reason why I wanted a mask and lamp pair is because of
balance. IMO, it is rather odd to have only one device mounted on one side the
scope that causes an immediate imbalance.
</p>

<p>
Here are photos of my Bahtinov mask, lamp and both controllers:

{% include image.html name="flip_mask_lamp.jpg" caption="The
Bahtinov mask, lamp and controllers laid out."%}
<br>
{% include image.html name="flip_mask_lamp_mounted.jpg" caption="The
flip Bahtinov mask and lamp mounted."%}
</p>

<p>
A movie demonstration of how my flip mask and lamp works is shown
here:
<br><br>

{% include youtubePlayer.html id="KrSrh4rIldk" %}
</p>

<p>
The plans and instructions for making the flip mask and lamp can be found <a
href="https://github.com/cytan299/flip_mask_lamp"
class="user-mention">here </a>
</p>

<p>
</p>

