<h3>
<a id="fsq106-focuser-bracket" class="anchor" href="#fsq106-focuser-bracket"
aria-hidden="true"><span aria-hidden="true" class="octicon
octicon-link"></span></a>A bracket for mounting the SharpSky Pro
focuser on the FSQ106 or FSQ106N
</h3>

<p>
My newest telescope is the FSQ106. I bought an electric focuser from
<a href="http://sharpsky.net/" class="user-mention">SharpSky
Pro</a> for it. But in order to use it, I have to mount it on the
FSQ106. The plans and instructions for the mounting bracket can be
found <a href="https://github.com/cytan299/fsq106_focuser_bracket"
class="user-mention">here </a> </p>
<p>

{% include image.html name="fsq106_focuser_bracket.jpg" caption="The
SharpSky Pro focuser mounted on my FSQ106."%}
</p>

