<h3>
<a id="power-distribution" class="anchor" href="#power-distribution"
aria-hidden="true"><span aria-hidden="true" class="octicon
octicon-link"></span></a>A power distribution unit
</h3>

<p>
It's not very sexy, but I decided to build a power distribution to
escape from my wall-wart hell. I have too many pieces of equipment that
need their own wall-wart and they take up nearly every outlet on my
power strip. I decided to build a box that produced all the voltages
that I needed plus extra outlets for future expansion. Here's a picture of my
power distribution unit:
</p>

<p>
{% include image.html name="power_distribution.jpg" caption="My power
distribution unit."%}
</p>

<p>
The plans for building my power distribution unit can be found <a href="https://github.com/cytan299/power_distribution" class="user-mention">here </a>.
</p>