<h3>
<a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Support or Contact</h3>

<p>
You can submit bug reports or feature requests via the <i>issues</i> tab at
the top of each github project page.
</p>
<p>
Of course, I don't guarantee that anything that I publish actually
works &#9786;. So build at your own risk!
</p>

<h4> Last update </h4>
<p>
Page was last updated on
{{ site.time | date: '%d %B %Y'}} Revision {{
site.github.build_revision }}
</p>
<p>
{% comment %}{% last_modified_at | date: '%d %B %Y' %}. {% endcomment %}
{% comment %}{{ 'now' | date: '%d %B %Y' }}{% endcomment %}
</p>
