<h3>
<a id="tribahtinov-mask" class="anchor" href="#tribahtinov-mask"
aria-hidden="true"><span aria-hidden="true" class="octicon
octicon-link"></span></a>A Tri-Bahtinov mask for aiding focusing and collimation</h3>

<p>
One thing that all SCT owners are always aware of but perhaps don't do
as often as necessary is collimation. I thought that the best way to
remedy this situation is to modify a Bahtinov mask to allow it also be
a collimation diagnostic as well. So, here's what I came up with: a
Tri-Bahtinov mask.
</p>

<p>
{% include image.html name="tribahtinov.jpg" caption="My tribahtinov
mask that fits over my LX200 for both focusing and collimation."%}
</p>

<p>
Therefore, whenever I use my tribahtinov mask for focusing I can
immediately check to see whether my LX200 is actually collimated as
well. If it is mis-collimated, I can immediately correct it by looking
at the diffraction pattern produced by the mask.
</p>

<p>

For my mask to be useful to you, I have written a Python program to
create any arbitrary tribahtinov mask and instructions for how to use
it. You can get more information <a
href="https://github.com/cytan299/tribahtinov"
class="user-mention">here</a>.

</p>