<h3>
<a id="triper-adapter" class="anchor" href="#tripier_adapter"
aria-hidden="true"><span aria-hidden="true" class="octicon
octicon-link"></span></a>
A Column Adapter for the Ioptron Tri-pier
</h3>

<p>

This project is not very sexy but is useful nonetheless. I wanted to
mount my USB hub securely to my Ioptron tripier but I couldn't find a
column adapter for doing this. Since I couldn't find them, I decided
to design a set of column adapters for 3D printing.
</p>

<p>
Here's how the column adapter and USB3 hub mounted on my tripier look
like:

{% include image.html name="tripier_adapter.jpg" caption="The column adapter
and USB3 mounted on the tripier"%}

<br>
The stl file and Openscad source code can be found <a
href="https://github.com/cytan299/tripier_adapter"
class="user-mention">here </a>
</p>