<h3>
<a id="ultimate-dew-shield" class="anchor" href="#ultimate-dew-shield"
aria-hidden="true"><span aria-hidden="true" class="octicon
octicon-link"></span></a>The ultimate dew shield
</h3>

<p>

Dew is, of course, the bane of astrophotography. When I was bitten by
dew during a long night of astrophotography, I got really
pissed. Right after this dew episode, I decided to get even. I looked
around to buy a commercial dew shield to forever consign this problem
to the annals of history. Unfortunately, nothing bit my fancy because
I thought that I could do better than the commercial units. In my
opinion, it is ridiculous that most dew shields are not silver because
that's the best color to reduce radiative cooling. Therefore, in my
design, the dew shield is metallic silver. Furthermore, in order to
put the "ultimate" in my ultimate dew shield, I designed an electronic
control that measures the dew point and then sets the internal
temperature of the shield to a value that the user sets.

</p>

<p>
{% include image.html name="ultimate_dew_shield.png" caption="My dew
shield mounted on my LX200."%}
</p>

<p>
So, if you want a dew shield that actually makes sense and works
great, the plans for building my ultimate dew shield can be found <a
href="https://github.com/cytan299/ultimate_dew_shield"
class="user-mention">here</a>.  </p>