        <h3>
<a id="welcome-to-my-projects" class="anchor"
	href="#welcome-to-my-projects" aria-hidden="true"><span
	aria-hidden="true" class="octicon
	octicon-link"></span></a>Welcome to my astrophotography
projects page</h3>

<p>

I started astrophotography as a hobby in 2014 by resurrecting my 8
inch LX200 classic that I bought more than 10 years ago. In my
na&iuml;vet&eacute;, I had had assumed that my alt-az mounted LX200
would be a good platform for astrophotography, but to my chagrin, I
found field rotation messing up my ambitions &#9786;. Although I have
a wedge for the LX200, my utter dislike of equatorial mounts (but see
next paragraph) and other technical problems with using it together
with my SBIG STF8300C camera forced me to design and build, from
scratch, a field derotator. This led to other projects that I designed
and built in order to complement and improve my LX200 astrophotography
platform.  All my Open Source projects are listed below and hopefully
they will be useful to you, the astrophotographer, as well.
</p>
<p>

Of course, things change as I gain more experience with
astrophotography. I have since moved from alt-az mounts to equatorial
mounts: Astro-physics Mach1GTO and AP1100AE. These excellent
equatorial mounts have changed my mind about them.
And I now use equatorial mounts exclusively.

</p>
