<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>C.Y. Tan&#39;s AstroPhotography Projects</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-dark.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% include analytics.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/cytan299">View On GitHub</a></li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>
          {{ page.title }}</h1> 
          <h1>
            by C.Y. Tan
          </h1>
          <hr>
          <span class="credits left">Project maintained by <a href="https://github.com/cytan299">cytan299</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
        </div>


	{% include welcome.html %}
	{% include field_derotator.html %}
	{% include tribahtinov.html %}
	{% include ultimate_dew_shield.html %}
	{% include power_distribution.html %}
	{% include etx125_electric_focuser.html %}
	{% include fsq106_focuser_bracket.html %}
	{% include flip_mask_lamp.html %}
	{% include copyright.html %}
	{% include support.html %}

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    
    </body>


 </section>
</html>
